<h1>Coaching#answer</h1>
<p>Find me in app/views/coaching/answer.html.erb</p>
<p>
  <%= @question.capitalize %> <br> -You
</p>



<p id="answer">
  <%= @answer.capitalize %> <br> -Your coach
</p>
<%= link_to "Ask a new question", coaching_input_path %>
