<h1>Coaching#input</h1>
<p>Find me in app/views/coaching/input.html.erb</p>

<form action="CoachingController#answer">
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>
