// Place all the styles related to the coaching controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  font-weight: bold;
  font-family: Helvetica;
}

p {
  padding: 20px 10px;
  line-height: 30px;
  border-left: 10px solid #F4F4F4;
}

#answer {
  background: #FFFDE1;
}

a {
  text-decoration: none;
  color: blue;
}


